.products {

    .products-header {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
    }
    
    .products__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

}